<template>
  <div>
    <h3 class="vue-title"><i class="fa fa-pencil" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form @submit.prevent="submit">
            <div class="form-group" :class="{ 'form-group--error': $v.bookname.$error }">
              <label class="form__label" name="bookname">Book Title</label>
              <input class="form__input" v-model.trim="$v.bookname.$model"/>
            </div>
            <div class="error" v-if="!$v.bookname.required">Book Title is Required</div>
            <div class="form-group" :class="{ 'form-group--error': $v.author.$error }">
              <label class="form__label" name="author">Author</label>
              <input class="form__input" v-model.trim="$v.author.$model"/>
            </div>
            <div class="error" v-if="!$v.author.required">Author is Required</div>
            <div class="form-group" :class="{ 'form-group--error': $v.ISBN.$error }">
              <label class="form__label" name="ISBN">ISBN</label>
              <input class="form__input" v-model.trim="$v.ISBN.$model"/>
            </div>
            <div class="error" v-if="!$v.ISBN.required">ISBN is Required</div>
            <div class="form-group" :class="{ 'form-group--error': $v.pubHouse.$error }">
              <label class="form__label" name="pubHouse">Publishing House</label>
              <input class="form__input" v-model.trim="$v.pubHouse.$model"/>
            </div>
            <div class="error" v-if="!$v.pubHouse.required">Publishing House is Required</div>
            <div class="form-group" :class="{ 'form-group--error': $v.pubDate.$error }">
              <label class="form__label" name="pubDate">Publication Date</label>
              <input class="form__input" v-model.trim="$v.pubDate.$model"/>
            </div>
            <div class="error" v-if="!$v.pubDate.required">Publication Date is Required</div>
            <div class="form-group" :class="{ 'form-group--error': $v.numOfPages.$error }">
              <label class="form__label" name="numOfPages">Number of Pages</label>
              <input class="form__input" id="numOfPages_input" v-model.trim="$v.numOfPages.$model"/>
            </div>
            <div class="error" v-if="!$v.numOfPages.required">Number of Pages is Required</div>
            <div class="error" v-if="!$v.numOfPages.numeric">Number of Pages must be in Numeric Format</div>
            <p>
              <button class="btn btn-primary btn1" id="addBtn" type="submit" :disabled="submitStatus === 'PENDING'">Add Book
              </button>
            </p>
            <p class="typo__p" v-if="submitStatus === 'OK'">Added successfully!</p>
            <p class="typo__p" v-if="submitStatus === 'ERROR'">Please Fill in the Form Correctly.</p>
            <p class="typo__p" v-if="submitStatus === 'PENDING'">Adding...</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import Vue from 'vue'
    import VueForm from 'vueform'
    import Vuelidate from 'vuelidate'
    import VueSweetalert from 'vue-sweetalert'
    import BookService from '@/services/bookservice'
    import {required, numeric} from 'vuelidate/lib/validators'

    Vue.use(VueForm, {
        inputClasses: {
            valid: 'form-control-success',
            invalid: 'form-control-danger'
        }
    })

    Vue.use(Vuelidate)
    Vue.use(VueSweetalert)

    export default {
        name: "AddBook",
        data() {
            return {
                messagetitle: 'Add a New Book',
                bookname: '',
                author: '',
                ISBN: '',
                pubHouse: '',
                pubDate: '',
                numOfPages: 0,
                book: {},
                submitStatus: null
            }
        },
        validations: {
            bookname: {
                required
            },
            author: {
                required
            },
            ISBN: {
                required
            },
            pubHouse: {
                required
            },
            pubDate: {
                required
            },
            numOfPages: {
                required,
                numeric
            }
        },
        methods: {
            submitBook: function (book) {
                BookService.postBook(book)
                    .then(response => {
                        console.log(response)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            submit() {
                console.log('submit!')
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    this.submitStatus = 'PENDING'
                    setTimeout(() => {
                        this.submitStatus = 'OK'
                        var book = {
                            bookname: this.bookname,
                            author: this.author,
                            ISBN: this.ISBN,
                            pubHouse: this.pubHouse,
                            pubDate: this.pubDate,
                            numOfPages: this.numOfPages
                        }
                        this.book = book
                        this.submitBook(this.book)
                    }, 500)
                }
            }
        }
    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }

  .donate-form .form-control-label.text-left {
    text-align: left;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
  }

  .typo__p {
    width: 540px;
    font-size: x-large;
  }

  .btn1 {
    width: 300px;
    font-size: x-large;
  }

  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    width: 540px;
  }

  .dirty {
    border-color: #5A5;
    background: #EFE;
  }

  .dirty:focus {
    outline-color: #8E8;
  }

  .error {
    border-color: red;
    background: #157ffb;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>
