<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-book" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div id="booklist">
      <v-client-table :columns="columns" :data="books" :options="options">
        <a slot="view" slot-scope="props" class="fa fa-comment-o fa-2x" @click="getReviews(props.row._id)"></a>
        <a slot="remove" slot-scope="props" class="fa fa-trash-o fa-2x" @click="deleteBook(props.row._id)"></a>
      </v-client-table>
    </div>
  </div>
</template>

<script>
    import BookService from '@/services/bookservice'
    import Vue from 'vue'
    import VueTables from 'vue-tables-2'

    Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})

    export default {
        name: "Books",
        data() {
            return {
                messagetitle: ' Book List ',
                books: [],
                errors: [],
                columns: ['_id', 'bookname', 'author', 'ISBN', 'pubHouse', 'pubDate', 'numOfPages', 'view', 'remove'],
                options: {
                    perPage: 10,
                    filterable: ['bookname', 'author', 'ISBN', 'pubHouse', 'pubDate'],
                    headings: {
                        _id: 'ID',
                        bookname: 'Book Title',
                        author: 'Author',
                        ISBN: 'ISBN',
                        pubHouse: 'Publishing House',
                        pubDate: 'Publication Date',
                        numOfPages: 'Number of Pages',
                        view: 'Book Reviews',
                        remove: 'Remove'
                    }
                },
                props: ['_id']
            }
        },
        created() {
            this.loadBooks()
        },
        methods: {
            loadBooks: function () {
                BookService.fetchBooks()
                    .then(response => {
                        this.books = response.data
                        console.log(this.books)
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
                console.log(sessionStorage.getItem('userID'))
            },
            getReviews: function (bookId) {
                var userID = sessionStorage.getItem('userID')
                if (userID == null) {
                    this.$router.push('login')
                } else {
                    this.$router.params = bookId
                    this.$router.push('reviews')
                }
            },
            deleteBook: function (id) {
                this.$swal({
                    title: 'Are you totally sure?',
                    text: 'You can\'t Undo this action',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'OK Delete it',
                    cancelButtonText: 'Cancel',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then((result) => {
                    console.log('SWAL Result: ' + result)
                    if (result === true) {
                        BookService.deleteBook(id)
                            .then(response => {
                                this.loadBooks()
                                this.$swal('Deleted', 'You successfully deleted this book', 'success')
                            })
                            .catch(error => {
                                this.$swal('ERROR', 'Something went wrong trying to Delete ' + error, 'error')
                                this.errors.push(error)
                                console.log(error)
                            })
                    }
                }).catch(error => {
                    this.$swal('Cancelled', 'Your Book still Counts!', 'info')
                    console.log(error)
                })
            }
        }
    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

  #booklist {
    width: 90%;
    margin: 0 auto;
  }
</style>
