<template>
  <div>
    <h3 class="vue-title"><i class="fa fa-edit" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form @submit.prevent="submit">
            <div class="form-group" :class="{ 'form-group--error': $v.newContent.$error }">
              <label class="form__label" name="newContent">New Comment</label>
              <input class="form__input" v-model.trim="$v.newContent.$model"/>
            </div>
            <div class="error" v-if="!$v.newContent.required">Content is Required</div>
            <div class="error" v-if="!$v.newContent.minLength">Content must have at least
              {{$v.newContent.$params.minLength.min}} letters.
            </div>
            <p>
              <button class="btn btn-primary btn1" id="btn_submit" type="submit" :disabled="submitStatus === 'PENDING'">Submit
              </button>
            </p>
            <p>
              <a href="#/reviews" class="btn btn-primary btn1" id="btn_return" role="button">Back to List</a>
            </p>
            <p class="typo__p" v-if="submitStatus === 'OK'">Thanks!</p>
            <p class="typo__p" v-if="submitStatus === 'ERROR'">Please Fill in the Form Correctly.</p>
            <p class="typo__p" v-if="submitStatus === 'PENDING'">Please Wait...</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import Vue from 'vue'
    import VueForm from 'vueform'
    import Vuelidate from 'vuelidate'
    import VueSweetalert from 'vue-sweetalert'
    import BookService from '@/services/bookservice'
    import {required, minLength} from 'vuelidate/lib/validators'

    Vue.use(VueForm, {
        inputClasses: {
            valid: 'form-control-success',
            invalid: 'form-control-danger'
        }
    })

    Vue.use(Vuelidate)
    Vue.use(VueSweetalert)

    export default {
        name: "EditReview",
        data() {
            return {
                messagetitle: 'Change Your Review',
                newContent: '',
                review: {},
                submitStatus: null
            }
        },
        validations: {
            newContent: {
                required,
                minLength: minLength(5)
            }
        },
        methods: {
            submitReview: function (id, review) {
                BookService.putReview(id, review)
                    .then(response => {
                        console.log(response)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            submit() {
                console.log('submit!')
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    this.submitStatus = 'PENDING'
                    setTimeout(() => {
                        this.submitStatus = 'OK'
                        var id = this.$route.query.id
                        var review = {
                            newContent: this.newContent
                        }
                        this.review = review
                        this.submitReview(id, this.review)
                    }, 500)
                }
            }
        }
    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }

  .donate-form .form-control-label.text-left {
    text-align: left;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
  }

  .typo__p {
    width: 540px;
    font-size: x-large;
  }

  .btn1 {
    width: 300px;
    font-size: x-large;
  }

  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    width: 540px;
  }

  .dirty {
    border-color: #5A5;
    background: #EFE;
  }

  .dirty:focus {
    outline-color: #8E8;
  }

  .error {
    border-color: red;
    background: #157ffb;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>
