<template>
  <div class="hero">
    <h1 class="vue-title">Welcome to reader club !!</h1>

    <table align="center">
      <tr>
        <td>
          <p class="lead"><b><i>Today is reading day !!</i></b>
          <p>Do other bookworms like the books you read?</p>
          <p>Just click <a data-test="link" href="#/books">here</a> to go to</p>
          <p>our Book page and write your reviews</p>
        </td>
        <td>
          <img id="pic" src="../assets/read.gif"/>
        </td>
      </tr>
    </table>
  </div>
</template>

<style>
  .hero {
    height: 100vh;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero .lead {
    font-weight: 200;
    font-size: 2.5rem;
  }

  .vue-title {
    font-size: 70pt;
    margin-bottom: 10px;
  }

  #pic {
    margin-left: 50px;
  }
</style>
