<template>
  <div>
    <h3 class="vue-title"><i class="fa fa-sign-in" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form @submit.prevent="submit">
            <div class="form-group" :class="{ 'form-group--error': $v.username.$error }">
              <label class="form__label" id="username_lbl" name="username">Username</label>
              <input class="form__input" id="username_input" v-model.trim="$v.username.$model"/>
            </div>
            <div class="error" v-if="!$v.username.required">Username is Required</div>
            <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
              <label class="form__label" id="psd_lbl" name="password">Password</label>
              <input class="form__input" id="psd_input" v-model.trim="$v.password.$model"/>
            </div>
            <div class="error" v-if="!$v.password.required">Password is Required</div>
            <p>
              <button class="btn btn-primary btn1" id="btn" type="submit" :disabled="submitStatus === 'PENDING'">Login
              </button>
            </p>
            <p class="typo__p" v-if="submitStatus === 'OK'">Welcome {{username}}!</p>
            <p class="typo__p" v-if="submitStatus === 'ERROR'">Please Fill in the Form Correctly.</p>
            <p class="typo__p" v-if="submitStatus === 'WRONG'">Wrong Password</p>
            <p class="typo__p" v-if="submitStatus === 'PENDING'">Please Wait...</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import Vue from 'vue'
    import VueForm from 'vueform'
    import Vuelidate from 'vuelidate'
    import VueSweetalert from 'vue-sweetalert'
    import BookService from '@/services/bookservice'
    import {required} from 'vuelidate/lib/validators'

    Vue.use(VueForm, {
        inputClasses: {
            valid: 'form-control-success',
            invalid: 'form-control-danger'
        }
    })

    Vue.use(Vuelidate)
    Vue.use(VueSweetalert)

    export default {
        name: "Login",
        data() {
            return {
                messagetitle: ' Login ',
                username: '',
                password: '',
                reader: {},
                submitStatus: null
            }
        },
        validations: {
            username: {
                required
            },
            password: {
                required
            }
        },
        methods: {
            getReader: function (name) {
                BookService.getReader(name)
                    .then(response => {
                        this.reader = response.data
                        if (this.reader.password === this.password) {
                            this.submitStatus = 'OK'
                            sessionStorage.setItem('userID', this.reader._id)
                        } else {
                            this.submitStatus = 'WRONG'
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            submit() {
                console.log('submit!')
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    this.submitStatus = 'PENDING'
                    setTimeout(() => {
                        this.getReader(this.username)
                    }, 500)
                }
            }
        }
    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }

  .donate-form .form-control-label.text-left {
    text-align: left;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
  }

  .typo__p {
    width: 540px;
    font-size: x-large;
  }

  .btn1 {
    width: 300px;
    font-size: x-large;
  }

  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    width: 540px;
  }

  .dirty {
    border-color: #5A5;
    background: #EFE;
  }

  .dirty:focus {
    outline-color: #8E8;
  }

  .error {
    border-color: red;
    background: #157ffb;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>
