<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-comment-o" style="padding: 3px"></i>{{messagetitle}}</h3>
    <button class="btn btn-primary btn1" id="addBtn" type="submit" @click="addReview()">Add Your Review</button>
    <div id="reviewList">
      <v-client-table :columns="columns" :data="reviews" :options="options">
        <a slot="like" slot-scope="props" class="fa fa-thumbs-up fa-2x" @click="like(props.row._id)"></a>
        <a slot="edit" slot-scope="props" class="fa fa-edit fa-2x"
           @click="updateReview(props.row._id, props.row.readerNo)"></a>
        <a slot="remove" slot-scope="props" class="fa fa-trash-o fa-2x"
           @click="deleteReview(props.row._id, props.row.readerNo)"></a>
      </v-client-table>
    </div>
  </div>
</template>

<script>
    import BookService from '@/services/bookservice'
    import Vue from 'vue'
    import VueTables from 'vue-tables-2'

    Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})

    export default {
        name: "Reviews",
        data() {
            return {
                messagetitle: ' Review List ',
                reviews: [],
                errors: [],
                columns: ['_id', 'readerNo', 'content', 'score', 'likes', 'like', 'edit', 'remove'],
                options: {
                    perPage: 10,
                    filterable: ['readerNo', 'score', 'likes'],
                    headings: {
                        _id: 'ID',
                        readerNo: 'User',
                        content: 'Content',
                        score: 'score',
                        likes: 'Likes',
                        like: 'Like',
                        edit: 'Edit',
                        remove: 'Remove'
                    }
                },
                props: ['_id', 'readerNo']
            }
        },
        created() {
            this.loadReviews()
        },
        methods: {
            loadReviews: function () {
                BookService.fetchReviews(this.$router.params)
                    .then(response => {
                        this.reviews = response.data
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            },
            addReview: function () {
                this.$router.push('addReview')
            },
            like: function (id) {
                BookService.like(id)
                    .then(response => {
                        this.loadReviews()
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            },
            updateReview: function (id, readerNo) {
                if (readerNo == sessionStorage.getItem('userID')) {
                    this.$router.push({
                        path: '/editReview',
                        query: {
                            id: id
                        }
                    })
                } else {
                    this.$swal('ERROR', 'You can\'t modify other reader\'s review!', 'error')
                }
            },
            deleteReview: function (id, readerNo) {
                if (readerNo == sessionStorage.getItem('userID')) {
                    this.$swal({
                        title: 'Are you totally sure?',
                        text: 'You can\'t Undo this action',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'OK Delete it',
                        cancelButtonText: 'Cancel',
                        showCloseButton: true,
                        showLoaderOnConfirm: true
                    }).then((result) => {
                        console.log('SWAL Result: ' + result)
                        if (result === true) {
                            BookService.deleteReview(id)
                                .then(response => {
                                    this.loadReviews()
                                    this.$swal('Deleted', 'You successfully deleted this review', 'success')
                                })
                                .catch(error => {
                                    this.$swal('ERROR', 'Something went wrong trying to Delete ' + error, 'error')
                                    this.errors.push(error)
                                    console.log(error)
                                })
                        }
                    }).catch(error => {
                        this.$swal('Cancelled', 'Your Review still Counts!', 'info')
                        console.log(error)
                    })
                } else {
                    this.$swal('ERROR', 'You can\'t delete other reader\'s review!', 'error')
                }
            }
        }
    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

  #reviewList {
    width: 90%;
    margin: 0 auto;
  }

  .btn1 {
    width: 300px;
    font-size: x-large;
    margin-bottom: 20px;
  }
</style>
