<template>
  <div id="app">
    <b-navbar toggleable="md" variant="info" type="light">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <img src="./assets/library.png" class="img-circle" style="padding: 5px; width: 40px; height: 40px;">
      <b-navbar-brand to="/">Online Reader Club</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/#"><i class="fa fa-home" style="padding: 5px"> Home</i></b-nav-item>
          <b-nav-item to="/books"><i class="fa fa-book" style="padding: 5px"> Books</i></b-nav-item>
          <b-nav-item to="/addBook"><i class="fa fa-pencil" style="padding: 5px"> Add a New Book</i></b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/login"><i class="fa fa-sign-in" style="padding: 5px"> Login </i></b-nav-item>
          <b-nav-item to="/addReader"><i class="fa fa-user" style="padding: 5px"> New Reader </i></b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
